*{margin: 0; padding: 0;}


html{
	font-size: 20px;
}

body{
	padding: 4% 5% 8%;
	overflow: auto;
}




.cancel-scroll{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}



/*common use*/

#back_default{
	background-color: #fff;
	outline: none;
	border: none;
	display: flex;
	height: 1.3rem;
}

.icon-back{
	display: block;
	width: 1rem;
	height: 1rem;
	background-image: url(../images/arraw.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}


#btn_area{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 1.2rem;
	margin-bottom: 1rem;
}



#search_bar {
	width: 100%;
	height: 2rem;
	border: 1px solid #ccc;
	border-radius: 1rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

#search_bar #ipt_search{
	display: block;
	height: 1.5rem;
	font-size: 0.65rem;
	border:none;
	outline: none;
}

#btn_search {
	width: 1.6rem;
	outline: none;
	display: block;
}

#swiper_area{
	margin-top: 1rem;
}

.swiper-container{
	width: 100%;
	padding-bottom: 32px;
}


.swiper-slide img{
	border-radius: 0.3rem;
	display: block;
	width: 100%;
}

.my-bullet-active{
	width: 0.65rem;
	border-radius: 5px;
	background: #ff6600;
	opacity: 1;
	transition: width 0.45s linear;
}


#book-shelf{
	margin-top: 0.5rem;
}

.section-tit {
	font-size: 0.9rem;
	font-weight: normal;
}

#shelf {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0.6rem;
}

#shelf > a{
	display: block;
	text-decoration: none;
	overflow: hidden;
	border-radius: 0.4rem;
	width: 31%;
	margin-bottom: 3.5%;
}

#shelf > a >img{
	display: block;
	width: 100%;
}


/*读书选择章节页面*/



#bookinfo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1rem;
}
#bookinfo #book_poster{
	display: block;
	width: 85px;
	height: 120px;
	border-radius: 0.25rem;
}

#book_info {
	width: 70%;
}
@media screen and (min-width: 410px){
	#book_info {
		width: 72%;
	}
}


#bookinfo #book_name {
	font-size: 0.8rem;
	color: #333;
	margin-bottom: 0.6rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
	align-items: center;
}

.font-1{
	font-size: 0.65rem;
	color: #999;
	font-weight: bold;
	line-height: 0.75rem;
}

.color-bule{
	color: #0087ce;
}


/*内容简介*/
#book_abstract {
	margin-top: 1rem;
	color: #707070;
}

#book_abstract .content-text{
	font-size: 0.7rem;
	margin-top: 0.35rem;
	text-indent: 2em;
	line-height: 1.2rem;
}

#book_abstract h5{
	font-weight: normal;
	font-size: 0.8rem;
}


#menu {
	margin-top: 1rem;
}

#menu h4{
	font-size: 0.85rem;
	color: #707070;
	font-weight: 600;
}

#user_info {
	width: 100%;
	height: 3.2rem;
	background-color: #CCC;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 3% 5%;
	box-sizing: border-box;
	background-color: #fff;
	border-top:1px solid rgba(241,241,241,0.8);
	box-shadow: 0 0px 8px #f1f1f1;
	display: flex;
	align-items:center;
	justify-content: space-between;
	overflow: hidden;
	z-index: 500;
}

#user_head {
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

#user_info #info_area {
	display: flex;
	flex-direction: column;
	font-size: 0.6rem;
	margin-left: 0.5rem;
	height: 1.8rem;
	justify-content: space-between;
}

#user_info .btn_continue {
	max-width: 45%;
	font-size: 0.6rem;
	display: flex;
	flex-direction: column;
	background-color: #FF600A;
	height: 1.95rem;
	color: #fff;
	justify-content: space-around;
	padding: 0 0.3rem;
	box-sizing: border-box;
	border-radius: 0.2rem;
}

#infos {
	display: flex;
	align-items:center;
}

#menu_list {
	list-style: none;
}
#menu_list > li{
	color: #999999;
	padding: 0.55rem 0;
	border-bottom: 1px solid #E1E1E1;
	line-height: 1rem;
	font-size: 0.7rem;
}

#menu_list a{
	display: block;
	color: #999;
	text-decoration: none;
}

#menu_list li:first-child{
	border-top: 1px solid #E1E1E1;
	margin-top: 1rem;
}

/*读书页面相关样式*/

.bg-read{
  background-color:rgba(238,222,176,0.5);
  padding-bottom: 4rem;
}

#read_header {
	height: 2rem;
	display: flex;
	align-items: center;
}


#read_header .title {
	width: 80%;
	text-align: center;
	font-size: 1rem;
}

#main_text {
	margin-top: 0.6rem; 
	overflow-y: hidden; 
	height: 75%;
}

@media screen and (min-height:720px){
	#main_text {
		margin-top: 1rem;
		height: 80%;
	}
}


#main_text .sub-title {
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	font-weight: 600;
}

#main_text .content {
	font-size: 0.7rem;
	padding-left: 1rem;
	box-sizing: border-box;
	line-height: 1.3rem;
}

#main_text .content p{
	text-indent: 2em;
}

#main_text .book-img-page{
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#btn_menu .icon-menu {
	display: block;
	background-image: url('../images/menu.png');
	width: 1.25rem;
	height: 1.25rem;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#btn_menu {
	height: 1.5rem;
	display: flex;	
	background: none;
	outline: none;
	border: none;
}

#btn_menu.active{
	color: #0087ce !important;
}

#btn_menu .menu-txt {
	font-size: 0.8rem;
	padding-left: 0.2rem;
	vertical-align: middle;
}



/*滑动目录菜单*/

#slide_list {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 3% 5%;
    transform: translateY(100%);
	transition: transform .3s linear;
	background-color: #fff;
	box-sizing: border-box;	
	z-index: 200;
}

#slide_list header{
	font-size: 0.8rem;
	color: #000000;
}


#read_mlist {
	list-style: none;
	width: 100%;
	max-height: 18rem;
	overflow-y: auto;
	display: block;
	margin-top: 0.5rem;
}


#slide_list.show{
	transform: translateY(0);
	bottom:3.2rem;
}



#read_mlist > li{
	color: #999999;
	padding: 0.55rem 0;
	border-bottom: 1px solid #E1E1E1;
	line-height: 1rem;
	font-size: 0.7rem;
}

#read_mlist a{
	display: block;
	color: #999;
	text-decoration: none;
}

.mlist-active{
	color: #0087ce !important;
}

#mask{
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	z-index: 100;
}



.btn-common{
	display: block;
	background-color: #EAEFF5;
	color: #2D89D6;
	width: 4rem;
	height: 1.5rem;
	border:none;
	outline: none;
	border-radius: 2px;
	font-size: 14px;
}


