/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	 background-color: #f6f7f9;
	overflow: hidden;
}
#top {
	width: 1000px;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid rgba(33,40,50,.1);
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

.top-icon-book {
	display: block;
}

.top-icon-book img{
	display: block;
	width: 22px;
	height: auto;
}

.reader-top-bar{
	margin-right: 32px;
	display: flex;
	align-items: center;
	margin-left: 36px;
	font-size: 16px;
}

.top-book-name{
	text-decoration: none;
	color: #17181a;
}

.top-book-name:hover{
	color: #00AAFF;
}
.section-name {
	font-size: 16px;
	color: #0d141e;
	margin-left: 36px;
}

#book_pages {
	width: 1000px;
	background-color: #fff;
	height: 90%;
	margin: 0 auto;
	padding: 50px 0;
	box-sizing: border-box;
	position: relative;
}

#book_pages .page {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

.link-menu {
	display: flex;
	align-items: center;
	position: absolute;
	right: 15px;
	cursor: pointer;
}

#book_pages .btn-page {
	position: absolute;
	padding: 8px 15px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #e6e6e6;
	bottom: 200px;
	cursor: pointer;
	z-index: 20000;
	transition: background 0.45s,color 0.25s;
}

#book_pages .btn-page:hover{
	background-color: rgba(13,106,173,0.8);
	color: #fff;
}

#pc_pages {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 21000;
	display: none;
}

#mask #menu_wrap {
	width: 1000px;
	height: 100%;
	left: 50%;
	position: absolute;
	margin-left: -500px;
	box-sizing: border-box;
}

#menu_list {
	width: 400px;
	position: absolute;
	right: 0;
	height: 100%;
	background-color: #fff;
	list-style: none;
	padding: 50px 20px;
	box-sizing: border-box;
}

#menu_list a{
	display: block;
	color: #999;
	text-decoration: none;
}

#menu_list > li{
	color: #999999;
	padding: 15px 0;
	border-bottom: 1px dashed #E1E1E1;
	line-height: 20px;
	font-size: 16px;
	padding-left: 10px;
	transition: background 0.3s;
	cursor: pointer;
}

#menu_list > li:hover{
	background-color: #F1F1F1;
}


#menu_list li:first-child{	
	border: none;
	margin-bottom: 20px;
}

#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 30000;
	width: 300px;
	text-align: center;
	background-color: #fff;
	transform: translate(-50%,-50%);
	font-size: 16px;
	line-height: 1.6rem;
	padding: 20px 0;
}

.menu-active{
	color: #00AAFF!important;
}


